<IfModule mod_rewrite.c>
    RewriteEngine On

    # Reglas estándar de Laravel
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteRule ^ public/index.php [L] 
</IfModule>